[submodule "Engine/External/Assimp"]
	path = Engine/External/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/External/Glfw"]
	path = Engine/External/Glfw
	url = https://github.com/glfw/glfw.git
